 /******************************
Guillermo Pérez Alonso - UO271312
Descripción de los estilos
******************************/

 /*Especificidad 001*/
 body {
     position: relative;
     /*Familia sans-serif*/
     line-height: 1.8;
     margin-left:  1.875em;
     margin-right:  1.875em;
     
 }

 /*Especificidad 001*/
 h1 {
     position: relative;
     text-transform: uppercase;
     padding: 15px 10px;
     text-align: center;
     border: rgb(46, 0, 153) 4px solid;
  

 }

 /*Especificidad 001*/
 nav {
     position: relative;
     
 }

 /*Especificidad 001*/
 a {
     position: relative;
     text-decoration: none;
     margin: 15px;

 }



 /*Especificidad 001*/
 section {
     position: relative;
     padding: 15px 10px;
     text-align: left;
     margin-top: 1.875em ;

 }

 /*Especificidad 001*/
 h2 {
     position: relative;
     text-transform: uppercase;
     text-align: left;

 }

 /*Especificidad 001*/
 h3 {
     position: relative;
     text-transform: uppercase;
     text-align: left;

 }



 /*Especificidad 001*/
 img {
     position: relative;
     margin-top:80px;
     margin-bottom: 40px;

    
 }

 audio{

    margin-top: 20px;
    margin-bottom: 20px;
 }


 /*Especificidad 001*/
 footer {
     position: relative;
     text-align: left;
     margin-left: 30px;
    
}