body{
    background-color:white;
    color:black;
	margin-left:10%;
}
h1{
    text-align:center;
   
}
h2{
    text-align:left;
    color:blue;
	/*No se especifica color de fondo porque hereda el color de fondo de body*/
}

p{
    color:gray;
	/*No se especifica color de fondo porque hereda el color de fondo de body*/
}
img{
	height:300px; 
    width : 450px;
	margin-right:5%;
}
