
/* Siempre debe ponerse explícitamente la altura del mapa, definiendo el tamaño del elemento div que contiene el mapa*/
#mapa {
    height: 500px;
    width: 100%;
}
h1{
    text-align: center;
    color: red;
}
p{
    text-align: left;
    color: black;
}
footer{
    margin-top:2em;
}
footer a img{
    height:31px; 
    width:88px;
}