/*Especificidad 001*/
main {
    height: 500px;
    width: 100%;
    
}
/*Especificidad 001*/
h1{
    text-align: center;
    color: red;
}
/*Especificidad 001*/
p{
    text-align: left;
    color: black;
}
