
/*Especificidad 001*/
body{
    background-color: white;
    color: black;
}
/*Especificidad 001*/
h1{

    text-align: center;
    color: red;
}
/*Especificidad 001*/
h2{
    text-align: left;
    color: blue;
}
