h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: blue;
}
p{
    text-align: left;
    color: black;
}
footer{
    margin-top:2em;
}
footer a img{
    height:31px; 
    width:88px;
}