
/*Especificidad 001*/
body{
    background-color: white;
    color: black;
}
/*Especificidad 001*/
h1{

    text-align: center;
    color: red;
}
/*Especificidad 001*/
main {
    height: 500px;
    width: 100%;
}