/*Hoja de estilos en la que se define el layout, los margenes o la separación de los elementos*/


/*Especificidad 001*/
h1,
h2 {
    margin-bottom: 3%;
}

/*Especificidad 001*/
nav {
    padding: 0.1%;
}



/*Especificidad 001*/
nav ul li {
    display: inline;
    margin-right: 1%;
}


/*Especificidad 001*/
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap:1%;
    padding: 1%;
}

/*Especificidad 001*/
header {
    grid-column: 1 / -1;
}

/*Especificidad 001*/
nav {
    grid-column: 1 / -1;
}

/*Especificidad 001*/
main {
    grid-column: 1 / -1;
    margin-left: 3%;
    margin-right: 2%;
    text-align: left;
}

section{
    margin-bottom: 5%;
}
/*Especificidad 001*/
footer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    max-height: 0.003em;
    padding: 4%;
    
}


/*Especificidad 003*/
nav ul li {
    margin-left: 2%;
}

/*Especificidad 001*/
th,
td {
    padding: 1%;
   
}