
/*Especificidad 001*/
body{
    background-color: white;
    color: black;
}
/*Especificidad 001*/
h1{

    text-align: center;
    color: red;
}
/*Especificidad 001*/
h2{
    text-align: center;
    color: green;
}
/*Especificidad 001*/
main {
    height: 500px;
    width: 100%;
}
/*Especificidad 001*/
table {
	margin-top: 2%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border: 0.2em solid;
}

/*Especificidad 001*/
th,
td {
	text-align: center;
	border: 0.1em solid;
	border-collapse: collapse;
}

