/******************************
Guillermo Pérez Alonso - UO271312
Descripción de los estilos
******************************/

/*Especificidad 001*/
body {
    font: 1em Tahoma, sans-serif;
    /*Familia sans-serif*/
    color: black;
    background-color: cornflowerblue;
    line-height: 2.5em;

}

/*Especificidad 001*/
h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5em;
    background-color: white;
    color: #154EB7;
    text-transform: uppercase;
    padding: 0.3em;
    text-align: center;
    border: #154EB7 0.05em solid;

}

/*Especificidad 001*/
nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    background-color: gray;
    color:black;
    border:black 0.03em solid;

}


/*Especificidad 001*/
main {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    background-color: #154EB7;  

    

}


/*Especificidad 001*/
section {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.3em;
    background-color: white;
    padding:2em;
    text-align: justify;
    
   
    
}



/*Especificidad 001*/
h2 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    background-color: white;
    text-transform: uppercase;
    text-align: left;



}

/*Especificidad 001*/
h3 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: left;



}


/*Especificidad 001*/
a {
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
    color: black;

}

/*Especificidad 001*/
table {
    margin-top:4em;
    border-spacing: 1em;
    border-collapse: separate;
    border-style: inset;
    text-align: center;

}

/*Especificidad 001*/
ul {
    list-style: square;
}

/*Especificidad 001*/
img {
   margin: 1.5em;


}

/*Especificidad 001*/
audio {
    
   margin:1em;
}

video{
    
   margin:1em;
}

/*Especificidad 001*/
footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornflowerblue;
    text-align: left;
    margin:1em;

}