/******************************
Guillermo Pérez Alonso - UO271312
Descripción de los estilos
******************************/

/*Especificidad 001*/
body {
    font: 1em Tahoma, sans-serif;
    /*Familia sans-serif*/
    color: black;
    background-color: cornflowerblue;
    line-height: 2.5em;

}

/*Especificidad 001*/
h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5em;
    background-color: white;
    color: #154EB7;
    text-transform: uppercase;
    padding: 0.3em;
    text-align: center;
    border: #154EB7 0.05em solid;

}

/*Especificidad 001*/
nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
    background-color: gray;
    color: black;
    border: black 0.03em solid;

}


/*Especificidad 001*/
main {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #154EB7;
    /*Hereda  la propiedad "color:black" del padre body*/


}


/*Especificidad 001*/
section {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 115%;
    background-color: white;
    /*Hereda  la propiedad "color:black" del padre main, que hereda a su vez de body*/
    padding: 2.5%;
    text-align: justify;
    



}



/*Especificidad 001*/
h2 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 190%;
    text-transform: uppercase;
    text-align: left;



}

/*Especificidad 001*/
h3 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 140%;
    text-transform: uppercase;
    text-align: left;



}


/*Especificidad 001*/
a {

    text-decoration: none;
    font-weight: bold;
    margin: 5%;
    color: black;
    /*Hereda  la propiedad "background-color: cornflowerblue" del padre,body*/

}

/*Especificidad 001*/
table {
    margin-top: 10%;
    border-collapse: separate;
    border-style: inset;
    text-align: center;

}

/*Especificidad 001*/
ul {
    list-style: square;
}

/*Especificidad 001*/
img {
    margin: 10%;
    max-width: 100%;
    height: auto;


}

/*Especificidad 001*/
audio {

    margin: 10%;
}

/*Especificidad 001*/
video {

    margin: 2%;
    width: 100%;
    height: auto;
}

/*Especificidad 001*/
footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin: 1%;

}

/*Especificidad 002*/
aside>a{
    margin:1%;
}

footer>img{
    margin:5%;
}