/******************************
Guillermo Pérez Alonso - UO271312
Descripción de los estilos
******************************/
body {

    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap; 
    

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 2em;
    align-items: center;
   
   

}

main {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    align-content: space-around;

}

section {
    
    width: 100%;
    margin: 1em;
    
   
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
}

