/*Especificidad 001*/
body {
	background-color: white;
	color: black;
	margin-left: 2%;
	font-size: 140%;
}

/*Especificidad 001*/
h1 {
	background-color:aqua;
	text-align: center;
	text-transform: uppercase;
	font-size: 320%;
	border-color:black;
	border-style:  solid;
	
	
}
/*Especificidad 001*/
input{
	font-size: 120%;
	margin-left: 3%;
}
/*Especificidad 001*/
select{
	margin:2%;
	font-size: 120%;
}

/*Especificidad 001*/
table {
	margin-top: 2%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border: 0.2em solid;
}

/*Especificidad 001*/
th,
td {
	text-align: center;
	border: 0.1em solid;
	border-collapse: collapse;
}
